<!--<configuration>-->
<!--    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        <destination>localhost:8081</destination>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />-->
<!--    </appender>-->

<!--    <root level="info">-->
<!--        <appender-ref ref="LOGSTASH" />-->
<!--    </root>-->
<!--</configuration>-->
